.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 460px;
}

.container__header {
  color: #FFF;
}

.container__inputTask {
  align-self: center;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px 0 5px 5px;
}

.container__inputTask:focus{
  outline-width: 0;
}

.container__todoList {
  list-style: none;
  padding-left: 0;
  align-self: center;
  height: 64vh;
  max-width: 410px;
  overflow-y: auto;
}

.container__isActiveSelector {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.isActiveSelector__item {
  box-sizing: border-box;
  font-size: 20px;
  padding: 5px;
  width: 70px;
  border-radius: 10px;
  background: rgba(10, 120, 255, 1);
  color: #FFF;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.isActiveSelector__item:hover {
  transform: scale(1.1);
}
