.todoList__item {
  background-color: rgba(200, 200, 200, 0.4);
  color: #FFF;
  font-size: 20px;
  display: inline-block;
  position: relative;
  width: 95%;
  max-width: 360px;
  min-width: 342px;
  border-radius: 5px;
  margin: 5px;
}

.item__name {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  flex-shrink: 1;
}

.item__name:hover {
  background: rgba(30, 30, 255, 0.1);
}

.item__showHistory {
  position: absolute;
  font-size: 17px;
  top: 60px;
  left: 5px;
  cursor: pointer;
}

.item__editTask {
  position: absolute;
  font-size: 15px;
  top: 2px;
  left: 5px;
  cursor: pointer;
}

.item__removeTask {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  color: #AA0000;
  cursor: pointer;
  margin: 0 5px 3px 5px;
}

.item__editInput{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px;
  width: 90%;
  color: #FFF;
  font-size: 18px;
  background: none;
}

.item__history {
  padding: 10px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-out;
}

.history__change {
  background-color: rgba(200, 200, 200, 0.5);
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /*position: relative;*/
}

.change__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.change__date {
  margin-left: 7px;
  margin-right: 10px;
  padding-top: 4px;
  font-size: 14px;
}

.change__prop {
  align-self: flex-end;
  color: rgba(10, 90, 255, 1);
}


.change__body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.change__from {
  flex-basis: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.change__arrow {
  font-size: 13px;
}

.change__to {
  flex-basis: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled {
  text-decoration: line-through;
}

.hidden {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
